body{
    background: white;
    width: 1512px;
}
.header{
    width: 1512px;
    height: 83px;
    top: 32px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: white;
}
.con{
    display: flex;
    align-items: center;
    padding-right: 53px;
    justify-content: space-evenly;
    padding-left: 53px;
    padding-top: 32px;
    font-family: karla;
    color: white;
}
.bruhh{
    color: black;
    text-decoration: none;
    font-family: Karla;
    font-size: 17px;
    font-weight: 400;
    line-height: 19.87px;
    text-align: center;
}